
   
      <tr>
        <td><%= checkout.dateOut %></td>
        <% if !checkout.checkin.nil? %>
          <td><%= checkout.checkin.item.name.capitalize %></td>
        <% else %>
          <td><%= "No Name" %></td>
        <% end %>
        <td><%= checkout.state %></td>
        <td><%= checkout.destination %></td>
        <td><%= checkout.purpose %></td>
        <td><%= checkout.serial_no %></td>
        <td><%= checkout.dispatchedBy %></td>
        <td><%= checkout.receivedBy %></td>
        <td><%= checkout.waybillNo %></td>
        <td><%= link_to 'Show ', checkout %></td>
        <td><%= link_to ' Edit', edit_checkout_path(checkout) %></td>
        <td><%= link_to ' Destroy', checkout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>   
  