<p id="notice"><%= notice %></p>

<p>
  <strong> Name:</strong>
  <%= @checkin.item.name.upcase %>
</p>

<p>
  <strong>Serial No:</strong>
  <%= @checkout.serial_no %>
</p>

<p>
  <strong>Date In:</strong>
  <%= @checkin.dateIn.strftime("%d-%m-%y") %>
</p>

<p>
  <strong>Date Out:</strong>
  <%= @checkout.dateOut.strftime("%d-%m-%y") %>
</p>

<p>
  <strong>State:</strong>
  <%= @checkout.state.capitalize %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @checkout.destination.upcase %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @checkout.purpose.capitalize %>
</p>

<p>
  <strong>Dispatched By:</strong>
  <%= @checkout.dispatchedBy.capitalize %>
</p>

<p>
  <strong>Received By:</strong>
  <%= @checkout.receivedBy.capitalize %>
</p>

<p>
  <strong>Waybill No:</strong>
  <%= @checkout.waybillNo %>
</p>

<%= link_to 'Edit', edit_checkout_path(@checkout) %> |
<%= link_to 'Back', checkouts_path %>
